html, body {
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    padding: 0;
}

.list-container {
    margin: 10px 50px;
    padding: 10px 20px;
    background: slategray;
    border-radius: 5px;
    .todo-list {
        min-height: 200px;
        background: paleturquoise;
        border-radius: 5px;
        padding: 10px 20px;
        .todo-item {
            background: burlywood;
            border-radius: 5px;
            margin: 5px 0;
        }
    }
}