$lightest: #f9f8f8;
$light: #cdd3ce;
$medium: #bbb5bd;
$dark: #aa6da3;
$darkest: #b118c8;
$warn: #de3c4b;

html, body {
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css?family=Gugi');

#app {
    * { font-family: Gugi, sans-serif };
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    header {
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: center;
        align-content: flex-start;
        h1 {
            font-size: 48pt;
            color: $darkest;
            text-align: center;
            margin: 5px 0;
        }
        #new-todo-container {
            display: flex;
            flex-flow: row;
            align-items: center;
            justify-content: space-around;
            width: 350px;
            input {
                font-family: Gugi, sans-serif;
                font-size: 18pt;
                border: none;
                border-radius: 5px;
                background: $lightest;
                width: 250px;
            }
            button {
                font-family: sans-serif;
                font-size: 30pt;
                border: none;
                border-radius: 5px;
                background: transparent;
                color: $darkest;

            }
        }
    }
    margin: 10px 50px;
    padding: 10px 20px;
    background: $medium;
    border-radius: 5px;
    .todo-list {
        min-height: 10px;
        min-width: 300px;
        background: $lightest;
        border-radius: 5px;
        padding: 10px 20px;
        margin: 5px;
        display: flex;
        flex-flow: column;
        align-items: center;
        .list-title {
            font-size: 36pt;
            margin: 5px 0;
        }
        &.complete {
            .todo-item {
                background: $medium;
                span {
                    text-decoration: line-through;
                }
                &.dummy {
                    span {
                        text-decoration: none;
                    }
                }
            }
        }
        &.incomplete {
            .todo-item {
                background: $darkest;
                color: $lightest;
            }
        }
        .todo-item {
            border-radius: 5px;
            margin: 5px 0;
            padding: 10px 15px;
            font-size: 24pt;
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            align-content: flex-start;
            align-items: center;
            width: 100%;
            .todo-complete {//The checkbox
                display: block;
                width: 35px;
                height: 35px;
                border-radius: 5px;
                text-align: center;
                padding: 2px;
                background: $light;
                color: $darkest;
                line-height: 1;
                font-size: 24pt;
            }
            button {
                background: $warn;
                border: 0;
                font-size: 18pt;
                border-radius: 5px; 
                text-align: center;
                margin: 0;
                display: block;
            }
            &.dummy {
                background: transparent;
                color: $darkest;
            }
        }
    }
}

.message {
    position: absolute;
    z-index: 100;
    width: 100%;
    font-size: 24pt;
    text-align: center;
    line-height: 1;
    background: $darkest;
    left: 0;
    padding: 10px 0;
    font-family: Gugi;
    color: $lightest;
    animation: 1.5s 2 alternate roll-in;
    &.error {
        background: $warn;
    }
}

@keyframes roll-in {
    from {
        top: -52px;
    }
    15% {
        top: 0px;
    }
    85% {
        top: 0px
    }
    to {
        top: 0px;
    }
}

@keyframes roll-out {
    to {
        bottom: 0;
    }
}